In [1]:
with open("logfiles.log", "r", encoding="utf-8") as f:
    for i in range(5):
        print(f.readline())

76.103.128.42 - - [07/Apr/2017:00:00:00 +0530] "PUT /usr/admin HTTP/1.0" 404 4864 "http://www.parker-miller.org/tag/list/list/privacy/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4380.0 Safari/537.36 Edg/89.0.759.0" 4927

244.126.247.177 - - [07/Apr/2017:00:00:00 +0530] "DELETE /usr/admin/developer HTTP/1.0" 500 5153 "http://www.parker-miller.org/tag/list/list/privacy/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/7046A194A" 731

187.78.185.113 - - [07/Apr/2017:00:00:00 +0530] "POST /usr/login HTTP/1.0" 200 4810 "http://www.parker-miller.org/tag/list/list/privacy/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/7046A194A" 2971

39.6.86.240 - - [07/Apr/2017:00:00:00 +0530] "POST /usr/admin HTTP/1.0" 304 4867 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/7046A194A" 4068

202.213.110.67 - - [07/Apr/2017:00:00:00 +0530] "POST /usr/login HTTP/1.0" 200 4810 "http://www.parker-miller.org/tag/list/list/privacy/" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36" 2040

In [2]:
import re
import pandas as pd

pattern = re.compile(
    r'(?P<ip>\S+) \S+ \S+ '
    r'\[(?P<time>[^\]]+)\] '
    r'"(?P<method>\S+) (?P<url>\S+) \S+" '
    r'(?P<status>\d+) '
    r'\S+ '
    r'"(?P<referrer>[^"]*)" '
    r'"(?P<agent>[^"]*)"'
)

rows = []

with open("logfiles.log", "r", encoding="utf-8") as f:
    for line in f:
        match = pattern.search(line)
        if match:
            rows.append(match.groupdict())

df = pd.DataFrame(rows)
df.head()

,ip,time,method,url,status,referrer,agent
0,76.103.128.42,07/Apr/2017:00:00:00 +0530,PUT,/usr/admin,404,http://www.parker-miller.org/tag/list/list/pri...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1,244.126.247.177,07/Apr/2017:00:00:00 +0530,DELETE,/usr/admin/developer,500,http://www.parker-miller.org/tag/list/list/pri...,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3)...
2,187.78.185.113,07/Apr/2017:00:00:00 +0530,POST,/usr/login,200,http://www.parker-miller.org/tag/list/list/pri...,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3)...
3,39.6.86.240,07/Apr/2017:00:00:00 +0530,POST,/usr/admin,304,-,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3)...
4,202.213.110.67,07/Apr/2017:00:00:00 +0530,POST,/usr/login,200,http://www.parker-miller.org/tag/list/list/pri...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...

In [3]:
len(df)            #Combien de requêtes au total#

72389

In [4]:
df['method'].value_counts()        #df['method'].value_counts()#

method
POST      18341
GET       18138
DELETE    18033
PUT       17877
Name: count, dtype: int64

In [5]:
df['status'].value_counts()                #Quels codes HTTP apparaissent#

status
500    18301
200    18281
404    17951
304    17856
Name: count, dtype: int64

In [6]:
admin_attempts = df[                                      #Qui essaie d’accéder à /admin avec PUT ou DELETE#
    (df['url'].str.contains('/admin', case=False)) &
    (df['method'].isin(['PUT', 'DELETE']))
]

admin_attempts.head()

,ip,time,method,url,status,referrer,agent
0,76.103.128.42,07/Apr/2017:00:00:00 +0530,PUT,/usr/admin,404,http://www.parker-miller.org/tag/list/list/pri...,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1,244.126.247.177,07/Apr/2017:00:00:00 +0530,DELETE,/usr/admin/developer,500,http://www.parker-miller.org/tag/list/list/pri...,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3)...
16,187.86.74.207,07/Apr/2017:00:00:01 +0530,DELETE,/usr/admin/developer,304,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
17,67.11.197.127,07/Apr/2017:00:00:01 +0530,DELETE,/usr/admin/developer,404,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
21,212.90.163.159,07/Apr/2017:00:00:01 +0530,DELETE,/usr/admin/developer,200,-,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...

In [11]:
len(admin_attempts)           #combien de lignes dans admin_attempts#

14255